@model IEnumerable<test3.Data.Apartment>

@{
    ViewData["Title"] = "Index";
}


<h2>Index</h2>
    
<h3>Twoje dane: </h3>
Tutaj bêd¹ dane u¿ytkownika.
    

<h3>Twoje rezerwacje: </h3>
Tutaj bêd¹ rezerwacje.

<h3>Twoje Apartamenty: </h3>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Adress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceBasic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoomSize)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceBasic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.UserID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ApartmentId">Edit</a> |
                <a asp-controller="Apartments" asp-action="Details" asp-route-id="@item.ApartmentId">Details</a> |
                <a asp-controller="Apartments" asp-action="Delete" asp-route-id="@item.ApartmentId">Delete</a>
            </td>
        </tr>

}
    </tbody>
</table>

            <p>
                <a asp-action="Create">Dodaj Apartament</a>
            </p>