@model test3.Models.ManageViewModels.ManageIndexViewModel

@{
    ViewData["Title"] = "Index";
}


<h2>Index</h2>
<br />

<div class="form-horizontal">
    <h4>
        Twoje dane: &nbsp;&nbsp;&nbsp;&nbsp;
        <a style="font-size: 14px" asp-action="EditUser">Edytuj dane</a>
    </h4>
    <hr />
    <table style="width: 50%;">
        <tr>
            <td><Label>Imie</Label></td>
            <td>@Html.DisplayFor(x => Model.User.Name)</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        <tr>
            <td><Label>Nazwisko</Label></td>
            <td>@Html.DisplayFor(x => Model.User.Surname)</td>
        <tr>
            <td><Label>Data urodzenia</Label></td>
            <td>@Html.DisplayFor(x => Model.User.DateOfBirth)</td>
        <tr>
            <td><Label>E-mail</Label></td>
            <td>@Html.DisplayFor(x => Model.User.Email)</td>
        <tr>
            <td><Label>Telefon</Label></td>
            <td>@Html.DisplayFor(x => Model.User.PhoneNumber)</td>
    </table>

    <br />
    <br />
    <h3>Twoje rezerwacje: </h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Lokalizacja
                </th>
                <th>
                    Cena za dzień
                </th>
                <th>
                    Liczba pokoi
                </th>
                <th>
                    Rezerwacja od
                </th>
                <th>
                    Rezerwacja do
                </th>
                <th>
                    Status
                </th>
                <th>
                    @*szczególy*@
                </th>
            </tr>
        </thead>
        <tbody style="font-weight: 100">
            @foreach (var item in Model.Reservations)
            {
                <tr>
                    <th style="font-weight: 100">
                        @Html.DisplayFor(x => item.Apartment.Location)
                    </th>
                    <th style="font-weight: 100">
                        @Html.DisplayFor(x => item.TotalCost)
                    </th>
                    <th style="font-weight: 100">
                        @Html.DisplayFor(x => item.Apartment.RoomSize)
                    </th>
                    <th style="font-weight: 100">
                        @Html.DisplayFor(x => item.FromDate)
                    </th>
                    <th style="font-weight: 100">
                        @Html.DisplayFor(x => item.ToDate)
                    </th>
                    <th style="font-weight: 100">
                        @if (item.Status.StartsWith("Oczekiwanie"))
                        {
                            <span style="color: darkgoldenrod">
                                @Html.DisplayFor(x => item.Status)
                            </span>
                        }
                        else
                        {
                            <span style="color: green">
                                @Html.DisplayFor(x => item.Status)
                            </span>
                        }
                    </th>
                    <th style="font-weight: 100">
                        <a asp-action="Details" asp-controller="Reservations" asp-route-id="@item.ReservationId">Szczegóły</a>
                    </th>
                </tr>

            }
            <tr>
                <th>
                    -
                </th>
                <th>
                    -
                </th>
                <th>
                    -
                </th>
                <th>
                    -
                </th>
                <th>
                    -
                </th>
                <th>
                    -
                </th>

                <th style="font-weight: 100">

                    <a asp-controller="Reservations" asp-action="Search"> Dodaj rezerwację</a>
                </th>
            </tr>
        </tbody>
    </table>
    @*@foreach()*@
    <div class="form-horizontal" />

    <br />
    <br />
    <h3>Twoje Apartamenty: </h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Pełny adres
                </th>
                <th>
                    Opis
                </th>
                <th>
                    Lokalizacja
                </th>
                <th>
                    Cena bazowa
                </th>
                <th>
                    Osób w pokoju
                </th>
                <th>
                    Dodatkowe Opcje
                </th>
                <th>
                    Rezerwacje
                </th>
                <th />
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Apartments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td style="text-align: right">
                        @Html.DisplayFor(modelItem => item.PriceBasic)
                        <Text> zł</Text>
                    </td>
                    <td style="text-align: right">
                        @Html.DisplayFor(modelItem => item.RoomSize)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Owner.UserId)*@
                        @if (item.ApartOption.Count() > 0)
                        {
                            @foreach (var option in item.ApartOption)
                            {
                                @Html.DisplayFor(modelItem => option.Option.Name)
                                <br />
                            }
                        }
                        else
                        {
                            <Text>brak dodatkowych opcji</Text>
                        }
                    </td>
                    <td>
                        @foreach (var reserv in item.Reservation)
                        {
                            if (reserv.Status.StartsWith("Ocze"))
                            {
                                <a asp-controller="Reservations" asp-action="Details" style="color: blue" asp-route-id="@reserv.ReservationId">Oczekuje</a>
                            }
                            if (reserv.Status.StartsWith("Zat"))
                            {
                                <a asp-controller="Reservations" asp-action="Details" style="color: green" asp-route-id="@reserv.ReservationId">Zatwierdzona</a>
                            }
                            if (reserv.Status.StartsWith("Skomen"))
                            {
                                <a asp-controller="Reservations" asp-action="Details" style="color: chartreuse" asp-route-id="@reserv.ReservationId">Dodaj odpowiedź</a>
                            }
                            if (reserv.Status.StartsWith("OK"))
                            {
                                <a asp-controller="Reservations" asp-action="Details"  asp-route-id="@reserv.ReservationId">Sczegóły</a>
                            }
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ApartmentId">Edytuj</a> |
                        <a asp-controller="Apartments" asp-action="Details" asp-route-id="@item.ApartmentId">Szczegóły</a> |
                        <a asp-controller="Apartments" asp-action="Delete" asp-route-id="@item.ApartmentId">Usuń</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>

    <p>
        <a asp-action="Create">Dodaj Apartament</a>
    </p>

