@model test3.Data.Apartment

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Apartment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceBasic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceBasic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoomSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Owner.UserID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ApartmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
