@model test3.Models.ReservationViewModel.SearchViewModel

@{
    ViewData["Title"] = "Search";
}

<br /><br />
<h2>Rezerwacje</h2>

<br />
<br />

<style>
    html, body {
        margin: 0;
        padding: 0;
    }

    .leftside {
        float: left;
        width: 30%;
        border: none;
        display: inline;
    }


    #parent div {
        display: inline-block;
        width: 30%;
    }

    #first div {
        text-align: left;
        width: 100%;
    }
</style>

<form asp-action="Search">

    <div id="parent">

        <div class="form-horizontal" style="width: 70%; text-align: left;" id="first">
            <h4>Apartamenty</h4>
            <hr />


            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Lokalizacja
                        </th>
                        <th>
                            Pełny adres
                        </th>

                        <th>
                            Opis
                        </th>
                        <th>
                            Ocena
                        </th>
                        <th>
                            Cena za dzień
                        </th>
                        <th>
                            Liczba pokoi
                        </th>
                        <th>
                            @*szczególy*@
                        </th>

                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i < Model.Apartments.Count(); i++)
                    {

                        @Html.HiddenFor(x => Model.Apartments[i])
                        @*@Html.HiddenFor(x => x.Apartments[i].ApartmentId)
                        @Html.HiddenFor(x => x.Apartments[i].Adress)
                        @Html.HiddenFor(x => x.Apartments[i].Description)
                        @Html.HiddenFor(x => x.Apartments[i].Location)
                        @Html.HiddenFor(x => x.Apartments[i].OwnerId)
                        @Html.HiddenFor(x => x.Apartments[i].PriceBasic) 
                        @Html.HiddenFor(x => Model.Apartments[i].ApartmentId)
                        @Html.HiddenFor(x => Model.Apartments[i].Adress)
                        @Html.HiddenFor(x => Model.Apartments[i].Description)
                        @Html.HiddenFor(x => Model.Apartments[i].Location)
                        @Html.HiddenFor(x => Model.Apartments[i].OwnerId)
                        @Html.HiddenFor(x => Model.Apartments[i].PriceBasic)*@

                        <tr>
                            <th>
                                Lokalizacja
                                @Html.DisplayFor(x => x.Apartments[i].Location)
                            </th>
                            <th>
                                Pełny adres
                                @Html.DisplayFor(x => x.Apartments[i].Adress)
                            </th>


                            <th>
                                @*  @Html.DisplayFor(x => x.Apartments[i].RoomSize)*@
                                Opis

                                @Html.DisplayFor(x => x.Apartments[i].Description)
                            </th>
                            <th>
                                Ocena
                                Reservations.Avarge()
                                @Html.DisplayFor(x => x.Apartments[i].RoomSize)

                            </th>
                            <th>
                                Cena za dzień
                                @Html.DisplayFor(x => x.Apartments[i].PriceBasic)

                            </th>
                            <th>
                                Liczba pokoi
                                @Html.DisplayFor(x => x.Apartments[i].RoomSize)

                            </th>
                            <th>
                                <a asp-controller="Apartments" asp-action="Details" asp-route-id="@i"></a>
                            </th>
                            @Html.HiddenFor(x => x.Apartments[i].ApartmentId)
                            @Html.HiddenFor(x => x.Apartments[i].Adress)
                            @Html.HiddenFor(x => x.Apartments[i].Description)
                            @Html.HiddenFor(x => x.Apartments[i].Location)
                            @Html.HiddenFor(x => x.Apartments[i].OwnerId)
                            @Html.HiddenFor(x => x.Apartments[i].PriceBasic) 
                            @Html.HiddenFor(x => Model.Apartments[i].ApartmentId)
                            @Html.HiddenFor(x => Model.Apartments[i].Adress)
                            @Html.HiddenFor(x => Model.Apartments[i].Description)
                            @Html.HiddenFor(x => Model.Apartments[i].Location)
                            @Html.HiddenFor(x => Model.Apartments[i].OwnerId)
                            @Html.HiddenFor(x => Model.Apartments[i].PriceBasic)

                            @*int ApartmentId { get; set; }
                            //  public string Adress { get; set; }
                            //  public string Description { get; set; }
                            // public string Location { get; set; }
                            public int OwnerId { get; set; }
                            //public decimal PriceBasic { get; set; }*@
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="form-horizontal leftside" id="first">
            <h4>Filtry</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label style="width: 50%; text-align: left" class="control-label col-md-2"> Cena za dzień</label>
                <span style="width: 40%; text-align: right" class="control-label col-md-2">użyj</span>
                <input style="margin-top: 10px" type="checkbox" />
                <div class="col-md-10" style="display: inline">

                    <input asp-for="PriceMin" class="form-control" style="width: 35%; display: inline" />
                    <label> &nbsp; - &nbsp;</label>
                    <input asp-for="PriceMax" class="form-control" style="width: 35%; display: inline" />
                    &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;od &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;do
                </div>
            </div>


            <div style="margin-top: -20px" class="form-group">
                <label style="width: 50%; text-align: left" class="col-md-2 control-label">Data&nbsp;rezerwacji</label>
                <span style="width: 40%; text-align: right" class="control-label col-md-2">użyj</span>
                <input style="margin-top: 10px" type="checkbox" />
                <div class="col-md-10">
                    <input asp-for="DateFrom" type="date" class="form-control" style="width: 35%; display: inline" />
                    <label> &nbsp; - &nbsp;</label>
                    <input asp-for="DateTo" type="date" class="form-control" style="width: 35%; display: inline" />
                    &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;od &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;do
                </div>
            </div>

            <div style="margin-top: -20px" class="form-group">
                <label style="width: 50%; text-align: left" class="control-label col-md-2">Ocena</label>
                <span style="width: 40%; text-align: right" class="control-label col-md-2">użyj</span>
                <input style="margin-top: 10px" type="checkbox" />
                <div class="col-md-10">
                    <input asp-for="RateMin" type="range" min="1" max="5" step="2" style="width: 35%; display: inline" />
                    <label> &nbsp; - &nbsp;</label>
                    <input asp-for="RateMax" type="range" min="1" max="5" step="0,5" style="width: 35%; display: inline" />
                    <span>
                        &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;od &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;do
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Opcje</label>
                @if (Model != null && Model.Options != null)
                {
                    @*@for(int i = 0; i<Model.Options.Count;i++)
                        {
                           <div class="col-md-10">
                               @Html.CheckBoxFor(model => Model.Options[i].isSet)
                               @Html.DisplayTextFor(model => Model.Options[i].Name)
                           </div>
                           @Html.HiddenFor(modelItem => Model.Options[i].isSet)
                           @Html.HiddenFor(modelItem => Model.Options[i].Name)

                        }*@
                }

            </div>

            <div class="form-group">
                <div class="col-md-offset-8 col-md-10">
                    <input type="submit" value="Szukaj" class="btn btn-default" />
                </div>
            </div>
        </div>

    </div>
</form>